@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://unpkg.com/lucide-static@latest/font/lucide.css');

* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #21202e;
  --text-color: #f1faee;
  --lighter-color: #a8dadc;
  --secondary-color: #457b9d;
  --darker-color: #1d3557;
  --main-color: #cf3441;
  --main-accent-color: #e63946;

  background-color: var(--main-bg-color);
  color: var(--text-color);

  font-family: 'Lexend', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

.dark-BG {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 300px;
  min-height: 180px;
  background: var(--darker-color);
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
  height: 50px;
  background: var(--darker-color);
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  font-weight: 500;
  text-align: center;
}

.modal-content {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.modal-actions {
  bottom: 8px;
  padding-bottom: 12px;
  width: 100%;
}

.actions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close-btn {
  padding: 6px 6px 4px;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 8px;
  border: none;
  background: var(--secondary-color);
  transition: all 0.25s ease;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 4px;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.close-btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(4px, -4px);
}

.cancel-btn {
  margin-top: 10px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: var(--text-color);
  background: var(--main-color);
  transition: all 0.25s ease;
}

.cancel-btn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.5);
  transform: translateY(-5px);
}

.confirm-btn {
  margin-top: 10px;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: var(--text-color);
  background: var(--secondary-color);
  transition: all 0.25s ease;
}

.confirm-btn:hover {
  box-shadow: 0 10px 20px -10px rgba(168, 218, 220, 0.2);
  transform: translateY(-5px);
  background: rgba(168, 218, 220, 0.8);
}

.confirm-btn:disabled,
.confirm-btn[disabled]  {
  background-color: var(--main-bg-color);
  color: rgba(241, 250, 238, 0.7)
}
.confirm-btn:disabled:hover {
  cursor: default;
  transform: none;
  box-shadow: none;
  background: var(--main-bg-color);
}
