#footer-actions {
  z-index: 1;
  width: 100%;
  background-color: var(--darker-color);
  margin-top: auto; /* take available whitespace */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
}

.footer-title {
  margin-inline: auto;
}

.button-row {
  margin-inline: auto;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}

.button-row > * {
  margin-left: .4rem;
  flex: 0 1 auto;
  min-width: 180px; 
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: clamp(0.8rem, calc(.9vw + 1rem), 1.1rem);
  border: none;
  transition: all 0.25s ease;
}

.resolve-cards-btn {
  color: var(--text-color);
  background: var(--secondary-color);
}

.resolve-cards-btn:hover {
  box-shadow: 0 10px 20px -10px rgba(168, 218, 220, 0.2);
  transform: translateY(-5px);
  background: rgba(168, 218, 220, 0.8);
}

.resolve-cards-btn:disabled{
  background-color: var(--main-bg-color);
  color: rgba(241, 250, 238, 0.7);
  transform: none;
}

.resolve-cards-btn:disabled:hover {
  cursor: default;
  transform: none;
  box-shadow: none;
}

.trap-card-btn {
  color: var(--text-color);
  background: var(--soft-pink);
}

.trap-card-btn:hover {
  box-shadow: 0 10px 20px -10px rgba(208, 104, 122, 0.2);
  transform: translateY(-5px);
  background: rgb(229, 125, 142);
}
