@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #21202e;
  --grey-text: #b2b9af;
  --text-color: #f1faee;
  --lighter-color: #a8dadc;
  --secondary-color: #457b9d;
  --darker-color: #1e314e;
  --main-color: #cf3441;
  --main-accent-color: #e63946;
  --soft-pink: #d0687a;
  --golden-yellow: #9e8f38;
  --green-check: #51e975;

  background-color: var(--main-bg-color);
  color: var(--text-color);

  font-family: 'Lexend', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

button:disabled,
button:disabled:hover,
#header-button:disabled:hover {
  cursor: default;
  opacity: 100%;
  transform: translateY(0px);
  transition: all 0.64s ease;
}

.hand-card-button {
  background: var(--main-bg-color);
}

.hand-card-button:hover {
  background: rgba(168, 218, 220, 0.06);
}

#header-button:hover {
  transform: translateY(-5px);
  transition: all 0.32s ease;
}


@media only screen and (min-width: 768px) {
  .aside-decks {
    padding-top: 6.4rem;
  }
}
